container_commands:
  01_enable_rootaccess:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02imagemagik:
    cwd: /home/ec2-user
    command: "sudo yum install libGLU libXinerama dbus-glib ImageMagick"
    ignoreErrors: true
  03openoffice-1:
    cwd: /home/ec2-user
    command: "mkdir ./openoffice_install"
  04openoffice-2:
    cwd: /home/ec2-user/openoffice_install
    command: "wget 'http://sourceforge.net/projects/openofficeorg.mirror/files/4.1.1/binaries/en-US/Apache_OpenOffice_4.1.1_Linux_x86-64_install-rpm_en-US.tar.gz/download' > Apache_OpenOffice_4.1.1_Linux_x86-64_install-rpm_en-US.tar.gz"
  05openoffice-3:
    cwd: /home/ec2-user/openoffice_install
    command: "tar -xvf Apache_OpenOffice_4.1.1_Linux_x86-64_install-rpm_en-US.tar.gz"
  06openoffice-4:
    cwd: /home/ec2-user/openoffice_install/en-US/RPMS
    command: "sudo rpm -ivh *.rpm"
    ignoreErrors: true
  07openoffice-5:
    command: "sudo mkdir /usr/share/tomcat7/.ure"
  08openoffice-6:
    command: "sudo chown tomcat:tomcat /usr/share/tomcat7/.ure"
  09openoffice-7:
    command: "sudo mkdir /usr/share/tomcat7/.openoffice"
  10openoffice-8:
    command: "sudo chown tomcat:tomcat /usr/share/tomcat7/.openoffice"
  11openoffice-9:
    command: "sudo ln -s /opt/openoffice4/program/soffice /usr/bin/soffice"
