<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- This filter allows us to use Guice for dependency injection in the server side servlets -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- This is where we register the ServerModule containing all of the mapping with Guice. -->
	<listener>
		<listener-class>org.sagebionetworks.web.server.PortalContextListner</listener-class>
	</listener>

	<!-- Servlets -->
	<!-- <servlet> -->
	<!-- <servlet-name>datasetServlet</servlet-name> -->
	<!-- <servlet-class>org.sagebionetworks.web.server.DatasetServiceImpl</servlet-class> -->
	<!-- </servlet> -->
<!---->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>datasetServlet</servlet-name> -->
	<!-- <url-pattern>/Portal/dataset</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Portal.html</welcome-file>
	</welcome-file-list>

</web-app>
