<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p - %m%n" />
		</console>
	</appenders>
	<loggers>
		<root level="DEBUG">
			<appender-ref ref="console"/>"
		</root>
	</loggers>
</configuration>