{
   "openapi": "3.0.1",
   "info": {
      "title": "Sample OpenAPI definition",
      "version": "v1"
   },
   "servers": [
      {
         "url": "https://repo-prod.prod.sagebase.org",
         "description": "This is the generated server URL"
      }
   ],
   "tags": [
      {
         "name": "Pet",
         "description": "This exists to test the multiple controller case."
      },
      {
         "name": "Person",
         "description": "This is a basic example controller."
      },
      {
         "name": "ComplexPets",
         "description": "This controller is used to test translating for complex types."
      }
   ],
   "paths": {
      "/repo/v1/pet/num-pets/{name}": {
         "get": {
            "tags": [
               "Pet"
            ],
            "operationId": "getNumPets",
            "parameters": [
               {
                  "name": "name",
                  "in": "path",
                  "required": true,
                  "description": "- the name of the person",
                  "schema": {
                     "$ref": "#/components/schemas/java.lang.String"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "the number of pets this person has, default to 0 if name of person does not exist.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/int"
                        }
                     }
                  }
               }
            }
         }
      },
      "/repo/v1/pet/{name}": {
         "post": {
            "tags": [
               "Pet"
            ],
            "operationId": "addPets",
            "parameters": [
               {
                  "name": "name",
                  "in": "path",
                  "required": true,
                  "description": "- the name of the person",
                  "schema": {
                     "$ref": "#/components/schemas/java.lang.String"
                  }
               }
            ],
            "requestBody": {
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/int"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "the name of the person that was added",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/java.lang.String"
                        }
                     }
                  }
               }
            }
         }
      },
      "/repo/v1/person/age/{name}": {
         "get": {
            "tags": [
               "Person"
            ],
            "operationId": "getPersonAge",
            "parameters": [
               {
                  "name": "name",
                  "in": "path",
                  "required": true,
                  "description": "- the name of the person",
                  "schema": {
                     "$ref": "#/components/schemas/java.lang.String"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "the age of the person. If no record of person is found, then return 0.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/int"
                        }
                     }
                  }
               }
            }
         }
      },
      "/repo/v1/person/{name}": {
         "post": {
            "tags": [
               "Person"
            ],
            "operationId": "addPerson",
            "parameters": [
               {
                  "name": "name",
                  "in": "path",
                  "required": true,
                  "description": "- the name of the person",
                  "schema": {
                     "$ref": "#/components/schemas/java.lang.String"
                  }
               }
            ],
            "requestBody": {
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/int"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "the name of the person that was added",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/java.lang.String"
                        }
                     }
                  }
               }
            }
         }
      },
      "/repo/v1/complex-pet/{petName}": {
         "get": {
            "tags": [
               "ComplexPets"
            ],
            "operationId": "getPet",
            "parameters": [
               {
                  "name": "petName",
                  "in": "path",
                  "required": true,
                  "schema": {
                     "$ref": "#/components/schemas/java.lang.String"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "the Pet associated with 'name'.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Pet"
                        }
                     }
                  }
               }
            }
         }
      },
      "/repo/v1/complex-pet/dog/{name}": {
         "post": {
            "tags": [
               "ComplexPets"
            ],
            "operationId": "addDog",
            "parameters": [
               {
                  "name": "name",
                  "in": "path",
                  "required": true,
                  "description": "- the name of the dog",
                  "schema": {
                     "$ref": "#/components/schemas/java.lang.String"
                  }
               }
            ],
            "requestBody": {
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Poodle"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "the name of the Dog that was added",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/java.lang.String"
                        }
                     }
                  }
               }
            }
         }
      },
      "/repo/v1/complex-pet/cat/{name}": {
         "post": {
            "tags": [
               "ComplexPets"
            ],
            "operationId": "addCat",
            "parameters": [
               {
                  "name": "name",
                  "in": "path",
                  "required": true,
                  "description": "- the name of the cat",
                  "schema": {
                     "$ref": "#/components/schemas/java.lang.String"
                  }
               }
            ],
            "requestBody": {
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Cat"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "the name of the cat that was added",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/java.lang.String"
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "org.sagebionetworks.openapi.pet.Dog": {
            "type": "object",
            "properties": {
               "name": {
                  "type": "string"
               },
               "hasTail": {
                  "type": "boolean"
               },
               "age": {
                  "type": "integer",
                  "format": "int32"
               }
            },
            "description": "This class describes a Dog.",
            "oneOf": [
               {
                  "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Husky"
               },
               {
                  "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Poodle"
               }
            ]
         },
         "org.sagebionetworks.openapi.pet.Pet": {
            "type": "object",
            "properties": {
               "name": {
                  "type": "string"
               },
               "hasTail": {
                  "type": "boolean"
               }
            },
            "description": "This interface represents a pet.",
            "oneOf": [
               {
                  "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Husky"
               },
               {
                  "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Poodle"
               },
               {
                  "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Cat"
               }
            ]
         },
         "org.sagebionetworks.openapi.pet.Husky": {
            "type": "object",
            "properties": {
               "name": {
                  "type": "string"
               },
               "hasTail": {
                  "type": "boolean"
               },
               "age": {
                  "type": "integer",
                  "format": "int32"
               },
               "hasLongHair": {
                  "type": "boolean"
               }
            },
            "description": "Describes the husky breed of Dog."
         },
         "org.sagebionetworks.openapi.pet.Poodle": {
            "type": "object",
            "properties": {
               "name": {
                  "type": "string"
               },
               "hasTail": {
                  "type": "boolean"
               },
               "age": {
                  "type": "integer",
                  "format": "int32"
               },
               "isFluffy": {
                  "type": "boolean"
               },
               "huskyType": {
                  "$ref": "#/components/schemas/org.sagebionetworks.openapi.pet.Husky"
               }
            },
            "description": "Describes the poodle breed of Dog."
         },
         "org.sagebionetworks.openapi.pet.Cat": {
            "type": "object",
            "properties": {
               "name": {
                  "type": "string"
               },
               "hasTail": {
                  "type": "boolean"
               },
               "numWhiskers": {
                  "type": "integer",
                  "format": "int32"
               }
            },
            "description": "This class describes a Cat."
         },
         "java.lang.String": {
            "type": "string"
         },
         "int": {
            "type": "integer",
            "format": "int32"
         }
      }
   }
}