<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<properties>
		<property name="org.sagebionetworks.local.logging.dir">${sys:java.io.tmpdir}/repo-workers/logs</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{ISO8601}{GMT+0} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="workers"
			fileName="${org.sagebionetworks.local.logging.dir}/repo-workers.log"
			filePattern="${org.sagebionetworks.local.logging.dir}/repo-workers.%d{yyyy-MM-dd-hh-mm}.log.gz">
			<PatternLayout>
				<pattern>%d{ISO8601}{GMT+0} %-5p [%15.15t] [%c] - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="traceProfiling"
					 fileName="${org.sagebionetworks.local.logging.dir}/worker-trace-profile.log"
					 filePattern="${org.sagebionetworks.local.logging.dir}/worker-trace-profile.%d{yyyy-MM-dd-hh-mm}.log.gz">
			<PatternLayout>
				<pattern>%d{ISO8601}{GMT+0} %X{sessionId} %-5p [%15.15t] [%c] - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="org.sagebionetworks" level="info" additivity="true">
			<appender-ref ref="workers" />
		</logger>
		<root level="error">
			<appender-ref ref="Console" />
		</root>
		<logger name="org.sagebionetworks.profiler.LoggingProfiler"
				level="debug" additivity="false">
			<appender-ref ref="traceProfiling" />
		</logger>
	</loggers>
</configuration>