{
  "Statement":[
    {
      "Action": "s3:*",
      "Effect":"Deny",
      "Principal": "*",
      "Resource":"arn:aws:s3:::prodlogs.sagebase.org/*",
      "Condition":{
        "Bool":{
          "aws:SecureTransport": false
        }
      }
    }
  ]
}
