import(RCurl, Biobase, methods)
importFrom(RJSONIO, toJSON, fromJSON)
importFrom(tools, md5sum)


## package has a dynamic library
useDynLib(synapseClient)

# Export everything not beginning with a period
exportPattern('*')


