# TODO we need to fix our unit tests before we can Import instead of Depend upon RCurl
# import(RCurl)
importFrom(methods,new)

## package has a dynamic library
useDynLib(synapseClient)

# Export everything not beginning with a period
exportPattern('*')


