## imports from other packages
import(RCurl, Biobase, methods)
importFrom(RJSONIO, toJSON, fromJSON, emptyNamedList)
importFrom(tools, md5sum)

## package has a dynamic library
useDynLib(synapseClient)

## S3 utility methods
export(synapseResetEndpoints, synapseAuthServiceEndpoint, synapseRepoServiceEndpoint, synapseLogin, synapseLogout, synapseQuery, synapseCacheDir)
##exportMethods("$", "[[", "[", names)
## S4 entity constructors
exportMethods(Dataset, Layer, Project)

## entity S4 methods
exportMethods(addFile, storeEntity, copyEntity, getEntity, deleteEntity, createEntity, updateEntity, refreshEntity, downloadEntity, loadEntity, getParentEntity)

## entity property/annotation setters and getters
exportMethods("annotValue<-", annotValue, propertyValue, "propertyValue<-", annotations, properties, "annotationValues<-", annotationValues, "propertyValues<-", propertyValues)
exportMethods("deleteProperty", "deleteAnnotation")

## S4 convenience methods
exportMethods(getDatasetLayers)

## S3 convenience methods
export(getDatasets)
