<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/mnt/bamboo-ebs/maven/.m2/repository</localRepository>
  <servers>
    <server>
      <id>sagebionetworks</id>
      <username>bamboo-service</username>
<!--       <password>ChangeMeToPasswordFoundOnDisk</password> -->
      <configuration></configuration>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>dev-environment</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        
<local.python27.path>/mnt/bamboo-ebs/bin/python2.7</local.python27.path>
        <local.r.path>export 
LD_LIBRARY_PATH=/mnt/bamboo-ebs/lib/:/mnt/bamboo-ebs/R/lib/:/opt/jdk-6/jre/lib/i386/client/$LD_LIBRARY_PATH 
; /mnt/bamboo-ebs/bin/R</local.r.path>

<settings.org.sagebionetworks.stackEncryptionKey>integration-test-only-encryption-key</settings.org.sagebionetworks.stackEncryptionKey>
      </properties>
    </profile>
  </profiles>


</settings>
