<p>
If you have any questions or concerns about your obligations to the data or this message, you may reply to this email and a member of our Access and Compliance Team will respond.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Access and Compliance Team
</p>
</body>
</html>