<html>
<body>
<p>
Dear $reviewerName,
</p>
<p>
A Synapse user ($submittedByName) has requested access to controlled data.
</p>
<p>
Please review their request and decide whether the request should be approved.
</p>
<p>
<a href="https://www.synapse.org/#!DataAccessManagement:default/Submissions/${dataAccessSubmissionId}">View the access request</a>
</p>

<p>
If you have any questions please do not respond to this message.  Instead, contact act@synapse.com.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Access and Compliance Team
</p>
</body>
</html>