<html>
<body>
<p>
Every signature on your data use certificate has been collected.
</p>
<p>
Your data access request is now ready to submit for review.
</p>
<p>
<a href="${signatureUrl}">Review the signatures and submit your request</a>
</p>

<p>
If you have any questions please do not respond to this message.  Instead, contact act@synapse.com.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Access and Compliance Team
</p>
</body>
</html>
