<html>
<body>
<p>
Dear $displayName,
</p>
<p>
Your Synapse account ($displayName) is scheduled to be disabled in 2 weeks, on <b>$expiryDate</b>, due to inactivity.
</p>

<p>
To meet our FISMA-MODERATE requirements, Synapse accounts are disabled after a period of inactivity.<br/>
This helps us protect user data, maintain security, and ensure that only active accounts retain access to Synapse resources.
</p>

<p>
If your account is disabled:
</p>

<ul>
    <li><b>You may lose access</b> to Synapse projects, data, and tools associated with your account.</li>
    <li><b>Collaborators may be impacted</b> if they rely on your account's access or permissions.</li>
    <li><b>Reactivation may require additional steps</b> to verify your identity and restore access.</li>
</ul>

<p>
To understand the full impact and details of account expiry, please review our help article here:
<br/>
    <a href="https://docs.synapse.org/synapse-docs/managing-your-account#Deactivated-Accounts">Help article</a>
</p>

<p>
 If you would like to keep your account active, you can reset the expiry countdown by signing in before $expiryDate:
</p>

<ol>
    <li>
        Go to the Synapse sign-in page:
        <a href="https://accounts.synapse.org/?appId=synapse.org">Synapse Sign-in</a>
    </li>
    <li>
        Sign in with your existing credentials.
    </li>
    <li>
        Once signed in, your account expiry countdown will be reset automatically.
    </li>
</ol>

<p>
If you believe you received this message in error, or if you have questions about your account status, please contact us through Synapse Support.
</p>

<p>
Thank you for being part of the Synapse community.
</p>

<p>
Best regards,
</p>
<p>
<a href="https://synapse.org">The Synapse Team</a>
</p>
</body>
</html>
