<html>
<body>
<p>
Dear $displayName,
</p>
<p>
An OAuth Client ($clientName) was just removed from to your account. Any application using this client might stop working.
</p>
<p>
If you have any questions, please submit a request to the <a href="https://sagebionetworks.jira.com/servicedesk/customer/portal/9">Synapse Service Desk</a>.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Team
</p>
</body>
</html>