<html>
<body>
<p>
Dear $displayName,
</p>
<p>
An OAuth Client ($clientName) was updated and requires verification before using it. Any application using this client might stop working until the client is verified.
</p>
<p>
You can find instructions to submit verification in the <a href="https://help.synapse.org/docs/Using-Synapse-as-an-OAuth-Server.2048327904.html">Synapse OAuth Server Documentation</a>.
</P
<p>
If you have any questions, please submit a request to the <a href="https://sagebionetworks.jira.com/servicedesk/customer/portal/9">Synapse Service Desk</a>.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Team
</p>
</body>
</html>