<html>
<body>
<p>
Dear $displayName,
</p>
<p>
Thank you for enabling two-factor authentication for your Synapse account. When you log in, you will be asked for the 6 digit code from your authenticator application.
</p>
<p>
Please make sure that you stored your recovery codes in a safe place. The recovery codes can help you regain access to your account if you lost your phone or you removed
your authenticator application. You can generate new recovery codes at any time by visiting your profile setting page.
</p>
<p>
If you have any question please do not hesitate to contact us at synapseInfo@synapse.org.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Team
</p>
</body>
</html>