<html>
<body>
<p>
Dear $displayName,
</p>
<p>
Thank you for enabling two-factor authentication for your Synapse account. When you log in, you will be asked for the 6 digit code from your authenticator application.
</p>
<p>
If you have any question please do not hesitate to contact us at synapseInfo@synapse.org.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Team
</p>
</body>
</html>