<html>
<body>
<p>
Dear $displayName,
</p>
<p>
You just disabled two-factor authentication. You will no longer be asked to enter a 6 digit code when you log in.
</p>
<p>
If you have any question please do not hesitate to contact us at synapseInfo@synapse.org.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Team
</p>
</body>
</html>