<html>
<body>
<p>
Dear $displayName,
</p>
<p>
A new set of recovery codes were just generated and shared with you.
</p>
<p>
Please make sure that you stored them in a safe place. Recovery codes can be used during two-factor authentication instead of a 6 digit code and can help you 
regaining access to your account if you lost your phone or you removed your authenticator application.
<p>
<p>
Note that a recovery code is one-time use, you can re-generate a new set of recovery codes at any time by visiting your profile setting page. When you re-generate 
a new set of recovery codes the previous set of codes will not be usable.
</p>
If you have any questions, please submit a request to the <a href="https://sagebionetworks.jira.com/servicedesk/customer/portal/9">Synapse Service Desk</a>.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Team
</p>
</body>
</html>