{       
    "Statement":
        [
            {
                "Action": [
                    "s3:GetObject",
                    "s3:PutObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::configuration.sagebase.org/Hudson/*"
            }
        ]
    }
