{       
    "Statement":
        [
            {
                "Effect": "Allow",
                "Action": [
                    "sts:GetFederationToken"
                ],
                "Resource":"arn:aws:sts::325565585839:federated-user/prod*"
            },
            {
                "Action": [
                    "s3:GetObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::configuration.sagebase.org/Stack/prod*.properties"
            },
            {
                "Action": [
                    "s3:PutObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::prodworkflow.sagebase.org/Search/*"
            },
            {
                "Effect":"Allow",
                "Action":"cloudwatch:*",
                "Resource":"*",
                "Condition":{
                    "Bool":{
                        "aws:SecureTransport":"true"
                    }
                }
            }
        ]
    }
