{       
    "Statement":
        [
            {
                "Effect":"Allow",
                "Action":"iam:AddUserToGroup",
                "Resource":"arn:aws:iam::325565585839:group/prodDataIamGroup"
            },
            {
                "Effect":"Allow",
                "Action":["iam:GetUser","iam:CreateUser","iam:CreateAccessKey"],
                "Resource":"arn:aws:iam::325565585839:user/prod*"
            },
            {
                "Effect": "Allow",
                "Action": [
                    "sts:GetFederationToken"
                ],
                "Resource":"arn:aws:sts::325565585839:federated-user/prod*"
            },
            {
                "Action": [
                    "s3:GetObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::elasticbeanstalk-us-east-1-325565585839/prod*.properties"
            },
            {
                "Effect":"Allow",
                "Action":"cloudwatch:*",
                "Resource":"*",
                "Condition":{
                    "Bool":{
                        "aws:SecureTransport":"true"
                    }
                }
            }
        ]
    }
