{       
    "Statement":
        [
            {
                "Effect":"Allow",
                "Action":"iam:AddUserToGroup",
                "Resource":"arn:aws:iam::325565585839:group/proddata"
            },
            {
                "Effect":"Allow",
                "Action":["iam:GetUser","iam:CreateUser","iam:CreateAccessKey"],
                "Resource":"arn:aws:iam::325565585839:user/prod*"
            },
            {
                "Action": [
                    "s3:GetObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::elasticbeanstalk-us-east-1-325565585839/prod-beanstalk-stack.properties"
            }
        ]
}
