{       
    "Statement":
        [
            {
                "Action": [
                    "s3:GetObject",
                    "s3:DeleteObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::prodworkflow.sagebase.org/Search/*"
            },
            {
                "Action": [
                    "s3:GetObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::configuration.sagebase.org/SearchUpdater/prod*.properties"
            }
        ]
    }
