{
    "Statement":
        [
            {
                "Resource":"*",
                "Action":"swf:*",
                "Effect":"Allow"
            },
            {
                "Action": [
                    "sns:Publish"
                ],
                "Effect": "Allow",
                "Resource": [
                    "arn:aws:sns:us-east-1:325565585839:TestTCGACurationWorkflow"
                ]
            }
        ]
    }
