{
    "Statement":
        [
            {
                "Resource":"*",
                "Action":"swf:*",
                "Effect":"Allow"
            },
            {
                "Action": [
                    "s3:GetObject"
                ],
                "Effect": "Allow",
                "Resource": "arn:aws:s3:::stagingworkflow.sagebase.org/staging*.properties"
            },
            {
                "Action": [
                    "sns:Publish"
                ],
                "Effect": "Allow",
                "Resource": [
                    "arn:aws:sns:us-east-1:325565585839:Test*"
                ]
            }
        ]
    }
