#dataset_search, #project_search {
	left: -1px;
	top:2px;
}
#project_search {
	top: 3px;
}
.search_submit {
	top: 2px;
	left: -1px;
}
#data {
	position: relative;
	top:40px;
}
#data.sample_data {
	top:-10px;
}
#data .add_remove {
	margin-top: -25px;
}
#data #legend .controls {
	margin-top: -25px;
}
#data #legend .project_controls {
	margin-top: 0px;
}
#data #legend .controls img, #data #legend .controls select {
	position: relative;
	top: 3px;
}
.register_button {
	margin-top:20px;
}
#contributors {
	height: 440px;
}
.callout_text {
	line-height: 1.5em;
}
.contact_button {
	position: relative;
	top: 4px;
}
.secondary_text {
	width:250px;
}

.warning_text {
	width:450px;
}